# Configuration file for mailing server
#
smtp_user = "sample@example.com"
smtp_pass = "password"
smtp_host = "smtp.yandex.com"
smtp_port = 465
title = "[先锋市场] 未读消息提醒"
from_address = "sample@example.com"

dsn = "user:pass@/dbName?charset=utf8"
interval = 24 # In hours
time_limit = 30 # In seconds
